django
psycopg[binary,pool]
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
httpx
protobuf
python-snappy
celery[redis]
google-auth
google-auth-oauthlib
google-auth-httplib2
django-enum
